@model IEnumerable<S1G6_PVFAPP.Models.RawMaterial>

@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterialName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterialStandardCost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RawMaterialUnitofMeasure)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RawMaterialName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RawMaterialStandardCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RawMaterialUnitofMeasure)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.RawMaterialID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.RawMaterialID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.RawMaterialID })
                    </td>
                </tr>
            }

        </table>
       </div>