@model IEnumerable<S1G6_PVFAPP.Models.Order>

@{
    ViewBag.Title = "Index";
}
    <div class="container">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>

        <div class="input-group mb-6">

            @using (Html.BeginForm("Index", "Orders", FormMethod.Get))
            {
                <form action="/Orders" method="get">
                    <input class="SearchText" placeholder="Order" name="SearchString" id="SearchString" type="text" value="">
                    <button class="btn" type="submit" id="" value="Search">Search</button>
                </form>
            }
        </div>
        <br />

        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Order Date", "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderQuantity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CustomerID)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OrderQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CustomerID)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.OrderID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.OrderID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.OrderID })
                    </td>
                </tr>
            }

        </table>
    </div>